#content{width: 1200px; margin: 0 auto; }
#content .title_area{position: relative;padding-top:102px;}
#content .line_map{position: absolute;font-size: 16px; right: 15px; top:15px;color: #666}
#content .line_map strong{color: #666;font-family: sans-serif;}
#content h2{text-align: center; font-size: 60px;margin-top:30px;margin-bottom:60px;font-family: sans-serif;}
#content .title_area img{margin: 0 525px 117px;}
#content .title_area p{font-family: sans-serif;font-size: 27px;color:#094f9f;text-align: center;margin-bottom: 260px;font-weight:400;}
.contet_area{font-family:'Noto Sans KR';} 


/*font-family: 'Nanum Gothic', sans-serif; font-weight:700
font-family: 'Nanum Myeongjo', serif; font-weight:700
font-family: 'Noto Sans KR', sans-serif; font-weight:700
font-family: 'Roboto', sans-serif; font-weight:700*/

/* 誘쇱냽珥뚯냼媛� �댁슜 �곸뿭*/




#list_search{overflow: hidden; font-family: 'Nanum Gothic', sans-serif; font-weight: 700; margin: 5px 0;}
#list_search1{margin-top: 2px; float: left}
    
#list_search .list_search_group{float: right; overflow: hidden}
#list_search .list_search_group div{float: left}
.content_area .scale{position: absolute; top: 0; left: 125px; padding: 5px} 
#list_search #list_search4{margin-left: 3px}
#list_search #list_search4 input{padding: 5px}
#list_search #list_search5{margin-left: 5px; margin-top: 1px;}
#list_search #list_search5 input{padding: 3px 10px; background: none; border: 2px solid #0d4b85; color: #0d4b85; border-radius: 2px; font-weight: 500;}
    
  #list_search select{padding: 5px}
    
    
    
     #list_top_title{height: 20px; padding: 15px 0;font-weight: 700;background-color: #0d4b85;
        margin: 40px 0 3px; color: #fff; border-radius: 5px}
    
    #list_top_title ul{overflow: hidden}
    #list_top_title ul li{float: left}
  
    #list_title1{text-align: center; width: 100px}
    #list_title2{text-align: center; width: 600px}
    #list_title3{text-align: center; width: 160px}
    #list_title4{text-align: center; width: 140px}
    #list_title5{text-align: center; width: 100px} 
    
    #list_item{overflow: hidden; padding: 15px 0; margin-top: 2px; height: 18px; border-bottom: solid 1px #eeeeee}
    #list_content{}
    #list_item1{float: left;text-align: center;width: 100px;}
    #list_item2{float: left;text-align: center;width: 600px}
    #list_item3{float: left;text-align: center;width: 160px}
    #list_item4{float: left;text-align: center;width: 140px}
    #list_item{float: left;text-align: center;width: 100px}


    
    #page_button{font-family: 'Nanum Gothic', sans-serif; overflow: hidden; padding-top: 30px}
    #page_num{float: left; width: 80%; text-align: center; padding-top: 6px; color: #0d4b85;}
    
    #button{float: right; overflow: hidden}
    #button a{display: block;  float: left;  width: 100px; border-radius: 25px;     
        text-align: center;  color: #0d4b85; padding: 7px 0;  margin-left: 10px; border: 2px solid #0d4b85; transition: all .2s ease-in;}
    #button a:hover{background: #0d4b85; color: #fff;}
    
    