#content{width: 1200px; margin: 0 auto;}
#content .title_area{position: relative;padding-top:102px;}
#content .line_map{position: absolute;font-size: 16px; right: 15px; top:15px;color: #666}
#content .line_map strong{color: #666;font-family: sans-serif;}
#content h2{text-align: center; font-size: 60px;margin-top:30px;margin-bottom:60px;font-family: sans-serif;}
#content .title_area img{margin: 0 525px 117px;}
#content .title_area p{font-family: sans-serif;font-size: 27px;color:#094f9f;text-align: center;margin-bottom: 260px;font-weight:400;}
.contet_area{font-family:'Noto Sans KR';color: #333;}

.contet_area .main .mainphoto{margin-left: 300px;}

.contet_area .main h3{font-size:44px;margin-left:295px;margin-top: 60px;}
.contet_area .main .point{width: 1000px; margin-left: 53px;margin-top: 50px;
    color:#666;text-align: justify;margin-bottom: 80px; line-height: 35px;background: #f0f8ff;padding: 22px;}

.contet_area h4{ font-size: 27px;margin-bottom: 58px;color:#164b74}
.contet_area .report_box {overflow: hidden;} 
.contet_area .report_box .report_2020{float: left;margin-left: 79px;}
.contet_area .report_box .report_2019{float:right ;margin-right: 126px;}
.contet_area .report_box p{margin-bottom: 10px;margin-top: 10px;}
.contet_area .report_box span{border-radius: 3px;padding: 0 10px 0 10px;border: 1px solid #666;margin-left:50px;}
.contet_area .reporimg a{display: block;}
.bottom_box {margin-left: 62px;margin-top: 26px;}  
.report_2019 .reporimg{margin-left: 62px;margin-top: 26px;}
.contet_area .report_box .right_2{position: relative;top: -23px;left: 114px;}
.certificate{clear: both;margin-top: 449px; height: 700px;}
.certificate .certi_click{display: block;width: 100px; margin-top: 31px;margin-left: 30px;text-align: center;}
.certificate .cerbi_1{float: left;}
.certificate .cerbi_2{float: left;margin-left: 210px;}
.certificate .cerbi_3{float: right;}