#content .summary h2 {padding: 25px 0 10px;text-align: center;font-size: 26px;font-family: 'Nanum Gothic', sans-serif;font-weight: 600;position: relative;}
#content .summary p{    text-align: center;margin-bottom: 59px;font-size: 1.2rem;margin-top: 10px;margin-bottom: 31px; color: #2a9bcf;}

#content .main img{width: 90%; margin-left: 5%;text-align: center;}
#content .main dt{font-size: 1.2rem; font-weight: 600;text-align: center;    margin-top: -14px;}
#content .main dd{    font-size: 1.1rem;line-height: 30px;margin-top: 5%; width: 80%; text-align: justify; margin-left: 6%; margin-bottom: 32px;color: #666;background: #2196f321; padding: 4%;}
#content .main{margin-top: 20px;}

#content .tnc_box{margin-top: 80px;}
#content .tnc_box ul li  img{width: 80%;margin-left: 10%;}
#content .tnc_box ul h3{font-size: 20px;font-weight: 600;margin-top: 7%;text-align: center;color:#4393b9;}
#content .tnc_box ul dl dt{font-size: 1.2rem;margin-top: 2%;text-align: center;}
#content .tnc_box ul dl dd{font-size: 1.1rem;line-height: 30px;margin-top: 5%;width: 90%;text-align: justify;margin-left: 5%;margin-bottom: 32px;color:#666;}
#content .bottom {    border: 1px solid #999999;font-size: 15px;padding: 5px;margin-left: 36%;color: #666;}

#content .list  h4{font-weight: 500;font-size: 19px; margin-left: 5%; margin-top: 8%;}
#content .list ul li{width: 30%;float: left;margin-left: 2.3%;}
#content .list ul{overflow: hidden;margin-top: 6%;}
#content .list ul li img{width: 100%;}
#content .list ul li p{    font-size: 1rem;text-align: center; color: #fff;margin-bottom: 54%;margin-top: -49%;
font-weight: 300;}


#content .list_2{ margin-bottom: 20%;}
#content .list_2 ul li .title{font-size: 1.2rem;font-weight: 500;text-align: center; color: #333;}
#content .list_2 ul li dl{text-align: center;margin-top: 6%;}
#content .list_2 ul li dt{padding-top: 3%;color: #47b2f1; text-align: center;}
#content .list_2 ul li dd{padding-top: 2%;line-height: 28px; color: #666;text-align: justify;width: 85%;margin-left: 7%;}